<configuration scan="true" scanPeriod="30 seconds" >
    <property name="LOG_PATH" value="./log" />
    <property name="LOG_FILE_NAME" value="service" />
    <property name="LOG_MAIN_PACKAGE" value="com.demo"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_FILE_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="async-file" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <maxFlushTime>1000</maxFlushTime>
        <appender-ref ref="dailyRollingFileAppender"/>
    </appender>

    <logger name="${LOG_MAIN_PACKAGE}" additivity="false">
        <level value="INFO" />
        <appender-ref ref="async-file" />
        <appender-ref ref="consoleAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="async-file" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>